header {
	background-color: #333;
	color: #fff;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 10px;
}

header h1 {
	flex: 1 0 100%;
	margin: 0;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-end;
	flex: 1 0 auto;
}

nav ul li {
	margin-left: 20px;
}

nav ul li:first-child {
	margin-left: 0;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
}

nav ul li a:hover {
	text-decoration: underline;
}

/* Main Styles */
main {
	max-width: 960px;
	margin: 20px auto;
	padding: 0 20px;
}

section {
	margin-bottom: 40px;
}

section h2 {
	font-size: 32px;
	margin-bottom: 20px;
}

section ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

section ul li {
	margin-bottom: 10px;
}

/* Footer Styles */
footer {
	background-color: #333;
	color: #fff;
	padding: 10px;
	text-align: center;
}